{% extends 'shop/base.html' %}

{% load static %}

{% block title%} About Us{% endblock %}
{% block aboutactive %}active{% endblock aboutactive %}

{% block content %}


<main role="main">
<h1 class="about">About Us</h1>

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
       <div class="row">
                <div class="col-lg-6">
                    <h2 class="noo-sh-title">We are <span>ThewayShop</span></h2>
                    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                        voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                        sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                        Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
                </div>
                <div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-thumbnail img-fluid" src="{% static 'shop/image/about-img.jpg' %}" alt="" />
                    </div>
                </div>
            </div>

    </div>
  </div>


<div class="row my-4">
                <div class="col-12">
                    <h1 class="noo-sh-title" >Meet Our Team</h1>
                </div>
                {%for team in teams %}
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">

                        <div class="our-team"> <img src='/media/{{team.image}}' alt="" />
                            <div class="team-content">
                                <h2 class="title"><a href="/shop/{{team.slug}}">{{ team.name}}</a></h2> <h3><span class="post">{{ team.position }}</span></h3>
                            </div>

                        </div>
                        <div class="team-description">
                            <p>{{ team.description|truncatechars:200 }}</p>
                            <p><a href="/shop/{{team.slug}}" role="button" class="btn btn-primary">Continue reading</a></p>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                {% endfor %}

            </div>





</main>





{% endblock %}
{# <div class="col-md-4">#}
{#        <h2>Heading</h2>#}
{#        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>#}
{#        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>#}
{#      </div>#}